<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header %>
  <script type="text/javascript" src="ejs_production.js"></script>
</head>
  <body>

      <div id="wrapper">
          <!-- Navigation -->
          <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">KC Data generator</a>
              </div>
              <!-- dropdown -->
              <% include partials/dropdownmenu.ejs %>
              <!-- side bar -->
              <% include partials/sidebar.ejs %>
          </nav>

          <!-- ******************* Page Content **************** -->
          <div id="page-wrapper">
            <%- include(page) %>
          </div>

      </div>
      <% include partials/footer %>
  </body>
</html>
