<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="menu-header">
                Navigation menu
            </li>
            <li>
                <a href="/"><i class="fa fa-sign-in	"></i> Connecting to KC</a>
            </li>
            <li>
                <a href="accountgen"><i class="fa fa-users"></i> Accounts</a>
            </li>
            <li>
                <a href="emailgen"><i class="fa fa-envelope-o"></i> Emails</a>
            </li>
            <li>
                <a href="contactgen"><i class="fa fa-address-book-o"></i> Contacts</a>
            </li>

            <li>
                <a href="eventgen"><i class="fa fa-calendar"></i> Events</a>
            </li>

            <li>
                <a href="taskgen"><i class="fa fa-check-square-o"></i> Tasks</a>
            </li>

            <li>
                <a href="notegen"><i class="fa fa-edit"></i> Notes</a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
